{% extends "home.html" %}
{% block content %}
<h1>Account Status</h1>
        
<table style="border:2px solid black;margin-left:auto;margin-right:auto;padding:2px;border-spacing:20px 50px; ">
                
                <tr>
                    <th >Customer ID</th>
                    <th >Account ID</th>
                    <th >Account Type</th>
                    <th >Status</th>
                    <th >Message</th>
                    <th >Last Updated</th>
                    <th >Balance</th>
                    <th >Operations</th>
                    
                    
                </tr>
                
                
    
                <!-- All Account Details -->
                {% for i in d %}
                <tr>
                    <td >{{ i.CustomerID }}</td>
                    <td>{{ i.AccountID }}</td>
                    <td>{{ i.AccountType}}</td>
                    <td>{{ i.AccStatus }}</td>
                    <td>{{ i.Message }}</td>
                    <td>{{ i.Last_Updated }}</td>
                    <td>{{ i.Balance }}</td>
                    <td><a href="">Refresh</a></td>
                    
                
                </tr>
                {% endfor %}
                
                
            </table>
        
 
        
    
            
{% endblock %}
    
