{% extends "home.html" %}
	{% block content %}

<div id="center">
		<div class="login">
			
			<div class="content">
				<form action="" method="POST">
					<div class="cont">
					<p>Account ID   <input type="text" class="input-area" placeholder="Account ID" name="AccID"></p>
					
					</div>
					<div class="cont">
					<p>OR</p>
				</div>
				<div class="cont">
					<p>Enter Customer ID  <input type="text" class="input-area" placeholder="Customer ID" name="c_id"></p>
				</div>
				
				<input type="submit" class="primary" value="Search">
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
