{% extends "home.html" %}
{% block content %}
<h1>Account Statement</h1>
<form name="Statement" >

    <table style="border:2px solid black;margin-left:auto;margin-right:auto;padding:20px;border-spacing:20px 50px; ">
                
    <tr>
        <th >Transcation ID</th>
        <th >Description</th>
        <th >Date</th>
        <th >Amount</th>
        
        
    </tr>
    
    

    <!-- All Transactions Details -->
    {% if a %}
    
    <tr>
        <td >{{ a.TranscationID }}</td>
        <td>withdraw</td>
        <td>{{ a.TrDate}}</td>
        <td>{{ a.Amount }}</td>
            
    </tr>
    
    {% endif %}


    {% if b %}

    <tr>
        <td >{{ b.TranscationID }}</td>
        <td>Deposit</td>
        <td>{{ b.TrDate}}</td>
        <td>{{ b.Amount }}</td>
            
    </tr>
    
    {% endif %}


</table>
<a href="/files/download-file.pdf" download="newname" target="_blank" class="et_pb_button" style="color: black;">Download As PDF</a>
<a href="/files/download-file.xml" download="newname" target="_blank" class="et_pb_button" style="color: black;" >Download As Excel</a>

</form>
{% endblock %}
