<div class="container-fluid text-center bottom-container">
    <footer>
<div class="foot">

    
    <div id="context">
    <div class="foot1">
        <h1>About Us</h1>
        <p>ABC Bank Ltd. is an Indian banking and financial services company headquartered in Mumbai, Maharashtra.  ABC Bank is India’s largest private sector lender by assets.[9] It is the largest bank in India by market capitalisation as of March 2020.</p>
    </div>
    <div class="foot2">
        <h1>Services</h1>
        <ul>
            <li><a href="#">Retail and Consumer Banking</a></li>
            <li><a href="#">personal internet Banking</a></li>
            <li><a href="#">corporate Banking</a></li>
            <li><a href="#">Debit and Credit cards</a></li>
        </ul>
    </div>
    <div class="foot3">
        <h1>Contact us</h1>
        <ul>
            <li>Email:customerservice@abc.com</li>
            <li>Contact no-011 423262782,011 65279022</li>

        </ul>
    </div>
</div>
    
</div>
</footer>
</div>